{% extends 'main/_base.html' %}
{% load humanize %}
{% block title %}

جزئیات لیست

{% endblock %}

{% block sidebar %}
{{ block.super }}
  <a class="w3-bar-item w3-button w3-hover-black" href={% url 'main:details_reg' %} > ثبت  جدید </a>
  <a class="w3-bar-item w3-button w3-hover-black" href={% url 'main:export_workhouse_data' %} >  صدور اطلاعات  کارگاه </a>
  <a class="w3-bar-item w3-button w3-hover-black" href={% url 'main:export_workers_data' %} >  صدور اطلاعات بیمه شدگان </a>
  

{% endblock %}


{% block pagetitle %}
            
    ریز کارکرد

{% endblock %}

{% block mainContent %}





{% if records %}

    <table class="table table-hover" style="width:100%"  >
    <tr class="text-light bg-dark">
        <th>نام</th>
        <th>نام خانوادگی</th>
        <th>نام پدر</th>
        <th>شماره بیمه</th>
        <th>تعداد روز کارکرد</th>
        <th>دستمزد روزانه</th>
        <th>مزایای ماهانه</th>
        <th>شغل</th>


    </tr>

    {% for record in records %}
            <tr >
                <td>{{record.worker.FirstName}}</td>

                <td>{{record.worker.LastName}}</td>
                <td>{{record.worker.DadName}}</td>
                <td>{{record.worker.BimehNum}}</td>
                <td>{{record.working_days}}</td>
                <td>{{record.daily_wage | intcomma:False }}</td>
                <td>{{record.advantage | intcomma:False }}</td>
                <td>{{record.worker.get_Job_display}}</td>

                
            </tr>


    {% endfor %}

    </table>

{% else %}

<h3>
    هیچ رکوردی وجود ندارد
</h3>
{% endif %}



{% endblock %}