{% extends 'main/_base.html' %}

{% block title %}

لیست ماهانه

{% endblock %}

{% block sidebar %}
{{ block.super }}
  <a class="w3-bar-item w3-button w3-hover-black" href='http://127.0.0.1:8000/admin/main/monthlist/add/' > ثبت لیست جدید </a>


{% endblock %}

{% block pagetitle %}
            
    لیست ماهانه  

{% endblock %}


{% block mainContent %}


{% if months_list %}
    <table style="width:100%"  class="table table-hover">
    <tr  class="text-light bg-dark">
        <th> نام کارگاه</th>
        <th>کد کارگاه</th>
        <th>ردیف کارگاه</th>
        <th> سال</th>
        <th> ماه</th>

    </tr>

    {% for month_list in months_list %}
        {% comment %} <ul> 
            <a href={% url 'main:details_list' list_id=month_list.id %} >
            <li>
                {{month_list}}
            </li>
            </a>
        </ul> {% endcomment %}

     
            <tr class='clickable-row' data-href={% url 'main:details_list' list_id=month_list.id %}>
                <td>{{month_list.workhouse.Name}}</td>

                <td>{{month_list.workhouse.Code}}</td>
                <td>{{month_list.workhouse.ContractRow}}</td>
                <td>{{month_list.year}}</td>
                <td>{{month_list.month}}</td>

                
            </tr>
        



    {% endfor %}
    </table>

{% else %}

<h3>
    هیچ رکوردی وجود ندارد
</h3>
{% endif %}

{% endblock %}