{% extends 'main/_base.html' %}

{% block title %}

لیست کارگاه ها

{% endblock %}


{% block mainContent %}

<h3>لیست  کارگاه ها</h3>
<br>
<a href='http://127.0.0.1:8000/admin/main/workhouse/add/' >  ثبت کارگاه  </a>
<br>

{% if workhouses %}
    <table class="table table-hover" style="width:100%"  >
    <tr class="bg-primary">
        <th> نام کارگاه</th>
        <th>کد کارگاه</th>
        <th>ردیف کارگاه</th>
        <th>نام کارفرما</th>
        <th>آدرس کارگاه</th>

    </tr>
    {% for workhouse in workhouses %}
        
        
            <tr>
                <td>{{workhouse.Name}}</td>
                <td>{{workhouse.Code}}</td>
                <td>{{workhouse.ContractRow}}</td>
                <td>{{workhouse.Client}}</td>
                <td>{{workhouse.Address}}</td>

                
            </tr>
           

    {% endfor %}
    </table>

{% else %}

<h3>
    هیچ رکوردی وجود ندارد
</h3>
{% endif %}

{% endblock %}

