{% extends 'main/_base.html' %}

{% block title %}

لیست کارگاه ها

{% endblock %}


{% block sidebar %}
{{ block.super }}
  <a class="w3-bar-item w3-button w3-hover-black" href={% url 'main:workhouse_reg' %} >ثبت کارگاه جدید  </a>

{% endblock %}

{% block pagetitle %}
            
 لیست  کارگاه ها  

{% endblock %}

{% block mainContent %}


{% if workhouses %}
    <table class="table table-hover" style="width:100%"  >
    <tr class="text-light bg-dark">
        <th> نام کارگاه</th>
        <th>کد کارگاه</th>
        <th>ردیف کارگاه</th>
        <th>نام کارفرما</th>
        <th>آدرس کارگاه</th>

    </tr>
    {% for workhouse in workhouses %}
        
        
            <tr>
                <td>{{workhouse.Name}}</td>
                <td>{{workhouse.Code}}</td>
                <td>{{workhouse.ContractRow}}</td>
                <td>{{workhouse.Client}}</td>
                <td>{{workhouse.Address}}</td>

                
            </tr>
           

    {% endfor %}
    </table>

{% else %}

<h3>
    هیچ رکوردی وجود ندارد
</h3>
{% endif %}

{% endblock %}

