{% extends 'main/_base.html' %}

{% block title %}

لیست کارگران

{% endblock %}

{% block sidebar %}
{{ block.super }}
  <a class="w3-bar-item w3-button w3-hover-black" href={% url 'main:workers_reg' %} >ثبت جدید  </a>


{% endblock %}



{% block pagetitle %}
            
    لیست  کارکنان        

{% endblock %}

{% block mainContent %}
 
<br><br><br>
{% if workers %}
    <table class="table table-hover" style="width:100%">
    <tr class="text-light bg-dark">
        <th>نام</th>
        <th>نام خانوادگی</th>
        <th>نام پدر</th>
        <th>شماره بیمه</th>
    </tr>
    
    {% for worker in workers %}
       

        <a href='#'>
            <tr>
                <td>{{worker.LastName}}</td>
                <td>{{worker.FirstName}}</td>
                <td>{{worker.DadName}}</td>
                <td>{{worker.BimehNum}}</td>
            </tr>
        </a>    
 
        
    {% endfor %}
    </table> 
{% else %}

<h3>
    هیچ رکوردی وجود ندارد
</h3>
{% endif %}

{% endblock %}