{% extends 'main/_base.html' %}

{% block title %}

لیست کارگران

{% endblock %}


{% block mainContent %}

<h3>لیست  کارکنان</h3>
<br>
<a href='http://127.0.0.1:8000/admin/main/workers/add/' >  ثبت جدید  </a>
<br>


 
<br><br><br>
{% if workers %}
    <table style="width:100%"  id="t01">
    <tr>
        <th>نام</th>
        <th>نام خانوادگی</th>
        <th>نام پدر</th>
        <th>شماره بیمه</th>
    </tr>
    
    {% for worker in workers %}
       

        <a href='#'>
            <tr>
                <td>{{worker.LastName}}</td>
                <td>{{worker.FirstName}}</td>
                <td>{{worker.DadName}}</td>
                <td>{{worker.BimehNum}}</td>
            </tr>
        </a>    
 
        
    {% endfor %}
    </table> 
{% else %}

<h3>
    هیچ رکوردی وجود ندارد
</h3>
{% endif %}

{% endblock %}